
.brand {
  display: inline-block;
  font-weight: bold;
  font-size: 20px; }
  @media (min-width: 600px) {
    .brand {
      margin-bottom: 1rem; } }
.site-header {
  position: relative;
  background-color: #def7ff; }

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    .site-header__wrapper {
      text-align: center; } }
@media (min-width: 600px) {
  .nav__wrapper {
    display: inline-flex; 
    list-style-type: none;} }

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; 
    
  
  }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); } }

.nav__item a {
  display: block;
  padding: 1rem; }

.nav__toggle {
  display: none; }
  @media (max-width: 599px) {
.nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem; } }




footer{
  width: 100%;
  height: 100px;
  background-color: #174a5c;
  color: white;
  text-align: center;
}
ul.footer-menu li {
display: inline;
}




#box {
  padding: 40px;
  border: 1px solid gray;
  background-color: rgb(210, 232, 247);
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}
#box li {
  margin-top: 2px;
  margin-left: 50px;
}

.NO2{
  list-style-type:none;
}


h2 {
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
}




html{
  scroll-behavior: smooth;
}
.gotop{
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background: #FFF;
  border: 1px solid #999;
  padding-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  font-size: 85%;
  text-decoration: none;
  color: #333;
  opacity: 0.5;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
}
.gotop::before{
  content: "";
  display: block;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 25%;
  height: 25%;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}
.gotop:hover{
  opacity: 1;
}
@media(max-width:750px){
  .gotop{
      width: 40px;
      height: 40px;
      text-indent: -9999px;
      opacity: 1;
      border: none;
      background: none;
      bottom: 10px;
      right: 10px;
  }
  .gotop::before{
      bottom: 0;
  }
}

h4 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}

h3 {
  padding: 0.5em;/*文字周りの余白*/
  color: #010101;/*文字色*/
  background: #eaf3ff;/*背景色*/
  border-bottom: solid 3px #516ab6;/*下線*/
}